body{margin:0;padding: 0}
#container  
{
     position: absolute; 
     height: 70%; 
     width: 70%; 
     background:url(../img/black.png) no-repeat center center fixed;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      z-index:1000;
     }

#canvas{opacity:1; position:fixed;z-index:100;     height: 10%; 
     width: 10%; position: absolute;             background-repeat:no-repeat;
            background-attachment:fixed; }
  
