body
{
	background-image:url('../img/fon3.jpg');
	background-size: 100%; /* Современные браузеры */
}

.auto-style1
{
    width: 100%;
    height: 100%;
}

.auto-style2
{
    width: 20%;
}
        
.auto-style5
{
    width: 60%;

}
        
.auto-style6
{
	height:100px;
    width: 80px;
}

.auto-style7
{
    width: 100%;
}

.auto-style8
{
	height:100px;
	width: 20%;
    
}