﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p style="vertical-align: top; line-height: normal">
        Это главная страница</p>

    <p>
        <img src="img/main1.jpg" />
        <img src="img/main2.jpg" />
        <img src="img/main3.jpg" />
        &nbsp;</p>
    <p>
        <img src="img/main4.jpg" />
        <img src="img/main5.jpg" />
        <img src="img/main6.jpg" />
        &nbsp;</p>

   
</asp:Content>

