﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage2.master" AutoEventWireup="true" CodeFile="index_admin.aspx.cs" Inherits="index_admin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
        <p>
        Это главная страница</p>
    <p>
        <img src="img/main1.jpg" />
        <img src="img/main2.jpg" />
        <img src="img/main3.jpg" />
        &nbsp;</p>
    <p>
        <img src="img/main4.jpg" />
        <img src="img/main5.jpg" />
        <img src="img/main6.jpg" />
        &nbsp;</p>
</asp:Content>

