﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="LK.aspx.cs" Inherits="LK" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="auto-style7">
        <tr>
            <td>Логин</td>
            <td>
                <asp:TextBox ID="TextBoxLogin" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>
                <asp:TextBox ID="TextBoxName" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td>
                <asp:TextBox ID="TextBoxPass" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Подтвердить пароль</td>
            <td>
                <asp:TextBox ID="TextBoxPass2" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Сохранить" />
            </td>
            <td>
                <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Сбросить" />
                <asp:Label ID="Label2" runat="server"></asp:Label>
            </td>
        </tr>
    </table>
</asp:Content>

