﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="registration.aspx.cs" Inherits="registration" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="auto-style7">
        <tr>
            <td>Введите имя:</td>
            <td>
                <asp:TextBox ID="TextBoxRegName" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Введите логин:</td>
            <td>
                <asp:TextBox ID="TextBoxRegLogin" runat="server"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Введите пароль:</td>
            <td>
                <asp:TextBox ID="TextBoxRegPass" runat="server" TextMode="Password"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>Подтвердите пароль:</td>
            <td>
                <asp:TextBox ID="TextBoxRegPass2" runat="server" TextMode="Password"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
            </td>
            <td>
                <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Создать" />
                <asp:Button ID="Button2" runat="server" OnClick="Button2_Click" Text="Сбросить" />
            </td>
        </tr>
    </table>
</asp:Content>

